*{
    margin: 0;
    padding: 0;
}

.container-3{
    background: #1B365C;
    width: 100%;
    min-height: 100vh;
    align-items: center;
}
/* .container-3 form{
    width: 100%;
} */
.app-wrapper-2{
    background-color: #fff;
    width: 400px;
    height: 400px;
    min-width: 310px;
    padding: 30px;
    border-radius: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    position: absolute;
}
.title-1{
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 34px;
    color: #1473E6;
    padding-bottom: 5px;
}
.popup{
    width: 350px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) ;
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: tranform 0.4s top 0.4s;
    z-index: 1;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.popup img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background: #1473E6;
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: white;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2)
}
#Back{
    padding-top: 20px;
    padding-right: 90%;
}

.password{
    margin: 20px;
    color: black;
    font-size: 16px;
}
.input-field {
    height: 32px;
    font-size: 18px;
    outline: none;
    width: 100%;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: 2px solid black ;
    margin-bottom: 10px;
}
.submit{
    display: flex;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    padding: 15px 115px;
    margin: auto;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.1s;
    background-color: #1473E6;
}
button:active{
    transform: translateY(2px);
}
@media all and (max-width: 450px){
    .app-wrapper-2 {
        width: 350px;
        height: 400px;
    }
}
@media all and (max-width: 400px){
    .app-wrapper-2 {
        width: 330px;
        height: 400px;
    }
}