.main1{
    width: 80%;
    height: 95%;
    background-color: #DFEFFE;
    display: flex;
    flex-direction: row;
}
#dash-title{
    position: absolute;
    width: 180px;
    height: 38px;
    left: 279px;
    top: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    text-transform: capitalize;
    color: #035AA6;
    }
.left-content{
    background-color: black;
    flex-direction: column;
}
.progress{
    /* background-color: white; */
}
.task{
    /* background-color: white; */
}
.payment{
    /* background-color: white; */
}
.right-content{
    background-color: red;
    flex-direction: column;
    display: flex;
}
